
<br>
<app-add-usuario></app-add-usuario>
<br>
<div>
	<ol class="collection">
		<li class="collection-item">
			<span class="my_tag">
			<strong class="mr-4">Num Identificacion</strong>				
			</span>
			<span class="my_tag">
			<strong class="mr-4">Nombre Usuario</strong>
			</span>
			<span class="my_tag">
			<strong class="mr-2">Apellido Usuario</strong>
			</span>
			<a class="secondary-content">
				<i><button class="btn btn-primary">Modificar</button></i>
			</a>
			<hr>
			<div class="container-updateCurso">
				<!-- TODO -->
			</div>
		</li>
	</ol>
</div>