 <nav>
    <div class="nav-wrapper">
    	<ul class="left hide-on-med-and-down">
    		<li><a [routerLink]="['/inicio']" class="btn btn-default mr-2">Inicio</a> </li>
    		<li><a [routerLink]="['/task']" class="btn btn-default mr-2">Tareas</a></li>
    		<li><a [routerLink]="['/tarea']" class="btn btn-default mr-2">TareasM</a></li>
    		<li><a [routerLink]="['/proyecto']" class="btn btn-default mr-2">Proyectos</a></li>
    		<li><a [routerLink]="['/registro']" class="btn btn-default mr-2">Registrar</a></li>
    	</ul>
    </div>
 </nav>



